body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('giphy\ \(2\).gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
}

button {
    padding: 40px 60px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* Estilos para personalizar los botones */
#opcion1 {
    background-color: pink;
}

#opcion2 {
    background-color: lightblue;
}

/* Estilos para la animación de los gatitos */
@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}

.gatitos {
    position: absolute;
    width: 30px;
    top: 0;
    animation: fall 4s linear infinite;
}

/* Estilos para mostrar la imagen de los gatitos */
.gatito-image {
    width: 90px;
    height: 90px;
    background-image: url('Cat-PNG-2.png'); /* Coloca aquí la URL de la imagen de los gatitos */
    background-size: cover;
}
